body {
  font-family: 'Open Sans', sans-serif;
}

.icons {
  max-width: 25px;
}

.c3po {
  width: 35px;
  border-radius: 50%;
}

.left-nav {
  background-color: #354052;
  color: #A2ADBF;
  width: 15%;
}

.right-section {
  width: 85%;
}

.main-title {
  display: flex;
  flex-wrap: wrap;
}

.header-left {
  width: 50%
}

.header-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.top-right-buttons {
  border-radius: 25px;
  background-color: white;
  color: #5c6375;
  margin-left: 2%;
}

.top-right-icons {
  height: 15px;
  width: 15px;
}

#nav-search {
  background-image: url('icons/search.svg');
  background-repeat: no-repeat;
  text-indent: 20px;
  width: 50%;
}

#nav-search:focus {
background-image: none;
}

body {
  display: flex;
  flex-direction: row;
}

.top-nav {
  background-color: coral;
  display: flex;
  align-items: center;
  height: 30px;
}

.top-section {
  border: 3px solid green;
  background-color: #EDF2F6;
}


h1 {
  color: #5F5E63;
}

.page-links {
  color: #9C9FA6;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.page-links:hover {
  color: #717277;
  border-bottom: 3px solid #16A4FA;
  box-sizing: border-box;
  padding-bottom: 7px;
}

#blue-arrow {
  height: 10px;
  width: 10px;
}

.location-pointer {
  height: 15px;
}

.preview-color {
  color: #16A4FA;
}

.graphs-section {
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  background-color: #EDF2F6;
  justify-content: space-around;
}

.circle-graphs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.circle-graphs {
  align-items: center;
  border: 8px solid lightgrey;
  border-radius: 50%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  width: 135px;
}

.left-circle {
  border-left: 8px solid #46B9C0;
  border-top: 8px solid #46B9C0;
  border-left: 8px solid #46B9C0;
}

.center-circle {
  border-left: 8px solid #0D9FF2;
  border-top: 8px solid #0D9FF2;
}

.right-circle {
  border-bottom: 8px solid #AD6CAC;
}

.bar-graph-container {
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;

}

.bar-graph {
  height: 100px;
  width: 250px;
}

.bar-graph-button,
.circle-graphs-button {
  background-color: white;
  color: #5c6375;
  border-radius: 25px;
  border: 2px solid #a9b0ba
  box-sizing: border-box;
  padding: 0 10px;
  /*font-weight: 300;*/
  font-size: .7em;
  max-height: 20px;
  margin-top: 10px
}

.circle-graphs-button {
  width: 50%;
}

.line-divider {
  align-items: center;
  display: flex;
  width: 100%;
}

hr {
  width: 40%;
}

.up-arrow {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.job-description {
  /*border: 3px solid orange;*/
  /*display: inline-flex;
  flex-direction: column;*/
  width: 55%;
  background-color: white;
}

.job-description-left {
  width: 40%;
}

.job-description-right {
  width: 60%;
  display: flex;
  vertical-align: center;
  flex-wrap: wrap;
}

.top-job-description {
  color: white;
  text-align: left;
  padding: 2% 0 2% 2%;
}

.jobs-pencil {
  margin-left: 5%;
  background-color: #7F8DA8;
  color: white;
  width: 12%;
  border: 0;
  display: inline-flex;
  align-items: baseline;
}

.jobs-pencil-img {
  max-height: 12px;
  margin-right: 2px;
}

.description-1 {
  background-color: #6F7E95;
}

td {
  color: #6f7e95;
  text-align: left;
  padding: 15px 10px;
  vertical-align: top;
}

.r2 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.r2-container {
  display: flex;
  align-items: center;
}

.r2-td {
  padding: 10px;
}

.bottom-links {
  background-color: tan;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  display: flex;
}

.bottom-section {
  display: flex;
  background-color: #EDF2F6;
  justify-content: space-around;;
}

.facebook {
  background-color: #4C72C3;
}

.tweet {
  background-color: #01AAEF;
}

.linkedin {
  background-color: #0381BC;
}

.link-buttons {
  color: white;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bottom-right-titles {
  display: flex;
  align-items: center;
}

.bottom-right-content,
.bottom-right-titles,
.bottom-right-forms  {
  margin-left: 10%;
}

/*.copy-buttons {
  margin-left: 0;
}

.copy-inputs {
  margin-right: 0;
}*/

.bottom-right-forms {
  display: flex;
  justify-content: center;
}


button {
  border-style: solid;
}
