
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
}

.icons {
  max-width: 15px;
}

.c3po {
  width: 35px;
  border-radius: 50%;
}

.left-nav {
  background-color: #354052;
  color: #A2ADBF;
  width: 15%;
  font-size: .7em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;;
}

.right-section {
  width: 85%;
}

.main-title {
  display: flex;
  flex-wrap: wrap;
}

.header-left {
  width: 50%
}

.header-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.top-right-buttons {
  background-color: white;
  color: #5c6375;
  margin-left: 2%;
}

.small {
  border-radius: 50%;
  width: 30px;
}

.open {
  border-radius: 25px;
}

.top-right-icons {
  height: 15px;
  width: 15px;
}

#nav-search {
  background-image: url('icons/search.svg');
  background-repeat: no-repeat;
  text-indent: 20px;
  width: 65%;
  padding: 6px;
  /*height: 10px;*/
  border: none;
  margin-left: 1%;
}

#nav-search:focus {
background-image: none;
}

.burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 5%;
}

.menu-button {
  width: 70%;
}

.top-nav {
  /*background-color: coral;*/
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #eef2f5;
  padding: 15px 0;
  width: 100%;
}

.top-nav-icons {
  width: 5%;
  height: 55%;
  border-left: 1px solid #eef2f5;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  padding: 20px 2%;;
}

.top-nav-icons:hover {
  background-color: #17A3FA;
  cursor: pointer;
}

.user-plus {
  background-image: url('icons/user_plus.svg');
}

.user-plus:hover {
  background-image: url('icons/user_plus_hover.svg');
}

.bookmark {
  background-image: url('icons/bookmark.svg');
}

.bookmark:hover {
  background-image: url('icons/bookmark_hover.svg');
}

.dot-menu {
  background-image: url('icons/menu.svg');
}

.dot-menu:hover {
  background-image: url('icons/menu_hover.svg');

}

.top-section {
  background-color: white;
  padding-left: 15px;
}


h1 {
  color: #5F5E63;
}

.page-links {
  color: #9C9FA6;
  box-sizing: border-box;
  padding-bottom: 10px;
  font-size: .8em;
  font-weight: 600;
}

.page-links:hover {
  color: #717277;
  border-bottom: 3px solid #16A4FA;
  box-sizing: border-box;
  padding-bottom: 7px;
}

#blue-arrow {
  height: 10px;
  width: 10px;
}

.location-pointer {
  height: 15px;
}

.preview-color {
  color: #16A4FA;
}

.graphs-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #EDF2F6;
  justify-content: space-around;
}

.circle-graphs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.circle-graphs {
  align-items: center;
  border: 8px solid lightgrey;
  border-radius: 50%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  width: 135px;
  color: #5F6874;
}

.circle-numbers {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2px;
}

.circle-title {
  margin-top: 2px;
  font-size: .8em;
}

.left-circle {
  border-left: 8px solid #46B9C0;
  border-top: 8px solid #46B9C0;
  border-bottom: 8px solid #46B9C0;
}

.center-circle {
  border-left: 8px solid #0D9FF2;
  border-bottom: 8px solid #0D9FF2;
}

.right-circle {
  border-bottom: 8px solid #AD6CAC;
}

.bar-graph-container {
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.bar-graph {
  height: 120px;
  width: 250px;
  padding: 10px 0;
}
.circle-graphs-button {
  width: 50%;
}

.bar-graph-button,
.circle-graphs-button {
  background-color: white;
  color: #5c6375;
  border-radius: 25px;
  border: 2px solid #a9b0ba;
  box-sizing: border-box;
  padding: 0 10px;
  /*font-weight: 300;*/
  font-size: .7em;
  max-height: 20px;
  margin-top: 10px
}

.line-divider {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  transform: rotate(180deg);
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.line-divider-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

hr {
  width: 45%;
}

/*.up-arrow {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #5c6375;
}*/

.up-arrow-img {
  height: 15px;

}


.job-description {
  /*border: 3px solid orange;*/
  width: 55%;
  background-color: white;
}

.job-description-left {
  width: 40%;
}

.job-description-right {
  width: 60%;
  display: flex;
  vertical-align: center;
  flex-wrap: wrap;
}

.top-job-description {
  color: white;
  text-align: left;
  padding: 2% 0 2% 2%;
}

.jobs-pencil {
  margin-left: 5%;
  background-color: #7F8DA8;
  color: white;
  width: 55px;
  border: 0;
  display: inline-flex;
  align-items: baseline;
}

.jobs-pencil-img {
  max-height: 12px;
  margin-right: 2px;
}

.description-1 {
  background-color: #6F7E95;
}

td {
  color: #6f7e95;
  text-align: left;
  padding: 15px 10px;
  vertical-align: top;
}

.r2 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.r2-container {
  display: flex;
  align-items: center;
}

.r2-td {
  padding: 10px;
}

.bottom-links {
  /*background-color: tan;*/
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  display: flex;
}

.bottom-section {
  display: flex;
  background-color: #EDF2F6;
  justify-content: space-around;;
}

.facebook {
  background-color: #4C72C3;
}

.tweet {
  background-color: #01AAEF;
}

.linkedin {
  background-color: #0381BC;
}

.link-buttons {
  color: white;
  margin-top: 4%;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-around;
}

.bottom-right-titles {
  display: flex;
  align-items: center;
}

.bottom-right-content,
.bottom-right-titles,
.bottom-right-forms  {
  margin-left: 10%;
  color: #848B95;
}

.bottom-right-forms {
  display: flex;
  justify-content: center;
}

.bottom-form {
  width: 75%;
}

.bottom-form,
.copy-inputs {
  color: #848B95;
}

.copy-buttons {
  background-color: #47BBC2;
  color: white;
  border: none;
}

button {
  border-style: solid;
  cursor: pointer;
}



@media screen and (max-width: 800px) {

.header-bottom {
  display: none;
}

.menu-button {
  width: 28px;
}

.left-nav {
  display: none;
}

.right-section,
.circle-graphs-container {
  width: 100%;
}

.circle-graphs-button,
.bar-graph-button {
  margin: 5% 0;
  font-size: 1em;
  height: 20px;
}

.circle-graphs {
  margin-top: 25px;
}

#nav-search {
  width: 65%;
}

}

@media screen and (max-width: 650px) {

  #nav-search {
    width: 62%;
  }


}

@media screen and (max-width: 500px) {

.circle-graphs-container,
.bottom-section,
.main-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-graphs-button {
  width: 255px;
}

.header-right {
  margin-bottom: 5px;
}

.circle-graphs {
  margin-top: 15px;
}

#nav-search {
  width: 55%;
}

}
